<nav class="navigation-stacked">
  <div class="navigation-header">
    <a href="{{ parent_url }}">
      <h2>In this section</h2>
      <p>{{ heading }}</p>
    </a>
  </div>
  <ul class="navigation-links">
    {% for link in links %}
      {% if link.class == 'is-active' %}
        <li><span class="{{ link.class }}">{{ link.title }}</span></li>
      {% else %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
